/* Estilos para el contenedor general */
.menu-container {
    display: flex;
    height: 100vh;
  }
  

  
  .sidebar .header-logo {
    width: 100px;
  }
  
  .sidebar .header-title {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 15px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .content h1 {
    color: #CC1616;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Contenedor de anuncios */
  .anuncios-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Estilo de cada post */
  .anuncio-post {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .anuncio-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .anuncio-text {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .anuncio-footer {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-button {
    background-color: #CC1616;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #a31313;
  }
  