
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Mantiene la altura del viewport */
    background-color: #1e2342 ; /* Azul marino */
    color: #1e2342 ; /* Color de texto blanco */
  }
  
  .bubble {
    background-color: white; /* Fondo blanco para la burbuja */
    padding: 5%; /* Espaciado interno usando porcentaje */
    border-radius: 10%; /* Bordes redondeados en porcentaje */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra suave */
    width: 50%; /* Ancho de la burbuja en porcentaje */

    max-width: 400px; /* Ancho máximo para pantallas grandes */
  }
  
  .login-title {
    font-size: 2rem; /* Tamaño de fuente grande */
    margin-bottom: 5%; /* Espaciado inferior usando porcentaje */
    color: #CC1616; /* Color de título rojo */
    text-align: center; /* Centrar el texto */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ancho completo dentro de la burbuja */
  }
  
  .form-group {
    margin-bottom: 5%; /* Espaciado inferior usando porcentaje */
  }
  
  label {
    margin-bottom: 2%; /* Espaciado inferior usando porcentaje */
    font-weight: bold;
  }
  
  input {
    padding: 3%; /* Espaciado interno en porcentaje */
    border: 1px solid #1e2342 ; /* Borde azul marino */
    border-radius: 2%; /* Bordes redondeados en porcentaje */
    background-color: transparent; /* Fondo transparente */
    color: #1e2342 ; /* Color de texto azul marino */
    width: 100%; /* Ancho completo */
  }
  
  input::placeholder {
    color: #1e2342 ; /* Color del placeholder azul marino */
  }
  
  .login-button {
    padding: 3%; /* Espaciado interno en porcentaje */
    background-color: #CC1616; /* Color de botón rojo */
    color: white; /* Color de texto blanco en el botón */
    border: none;
    border-radius: 2%; /* Bordes redondeados en porcentaje */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Ancho completo */
  }
  
  .login-button:hover {
    background-color: #CC1616; /* Color más oscuro al pasar el ratón */
  }
  
  .forgot-password {
    margin-top: 5%; /* Espaciado superior usando porcentaje */
    text-align: center;
  }
  
  .forgot-password a {
    color: #1e2342 ; /* Color del enlace azul marino */
    text-decoration: underline;
  }
  