.menu-container {
    display: flex;
    height: 100vh;
  }
  .header-logo {
    width: 50%; /* Ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que no haya espacio extra */
  }
  .sidebar {
    width: 250px;
    background-color: #1e2342;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: flex-end;
    height: 100vh;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 20px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 14px;
  }
  
  .sidebar nav ul li a:hover {
    color: red; /* Cambia a rojo al pasar el cursor */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
  }
  h1{
    color: #CC1616
  }