.menu-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #1e2342;
    color: white;
    padding: 20px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 20px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
  }
  h1{
    color: #CC1616
  }