body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Fuente por defecto */
  color: white; /* Color de texto negro por defecto */
}

.container {
  padding: 20px; /* Espaciado alrededor del contenedor */
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: auto; /* Centrar el contenedor */
  background-color: #000630; /* Fondo blanco para el contenedor */
  border-radius: 8px; /* Bordes redondeados del contenedor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.titulo {
  font-size: 2em; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.subtitulo {
  font-size: 1.5em; /* Tamaño del subtítulo */
  margin: 10px 0; /* Espacio alrededor del subtítulo */
}

.tabla {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse; /* Colapsar bordes de la tabla */
}

.tabla th, .tabla td {
  border: 1px solid #ccc; /* Borde gris claro para las celdas */
  padding: 10px; /* Espaciado interno de las celdas */
  text-align: left; /* Alinear texto a la izquierda */
}

.tabla th {
  background-color: #000630; /* Fondo azul para el encabezado de la tabla */
  color: white; /* Color blanco para el texto del encabezado */
}

.btn {
  background-color: #CC1616; /* Color de fondo del botón */
  color: white; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno del botón */
  cursor: pointer; /* Cambiar cursor a puntero al pasar sobre el botón */
  margin-top: 20px; /* Espacio arriba del botón */
  transition: background-color 0.3s; /* Efecto de transición */
}

.btn:hover {
  background-color: #3498db; /* Color al pasar el mouse sobre el botón */
}
