body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.tarea {
  background-color: #000630; /* Fondo azul */
  color: white; /* Color de texto por defecto */
  padding: 20px;
  max-width: 600px; /* Máximo ancho del contenedor */
  margin: 20px auto; /* Centrar el contenedor y margen arriba y abajo */
  border-radius: 8px; /* Bordes redondeados */
  display: flex; /* Flexbox para organizar elementos verticalmente */
  flex-direction: column; /* Apilar elementos verticalmente */
}

.titulo {
  font-size: 2em; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
  text-align: left;
}

.subtitulo {
  font-size: 1.5em; /* Tamaño del subtítulo */
  margin: 10px 0; /* Espacio alrededor del subtítulo */
  color: white !important;
}

.descripcion {
  background-color: white; /* Fondo blanco para la descripción */
  color: white; /* Color de texto negro */
  padding: 10px; /* Espacio dentro del párrafo */
  border-radius: 4px; /* Bordes redondeados */
  width: 100%; /* Ancho completo del div */
  height: 100px; /* Altura fija */
  overflow: auto; /* Scroll si el contenido es demasiado grande */
}

.adjuntos {
  margin-top: 20px; /* Espacio arriba de la sección de archivos adjuntos */
  padding: 10px; /* Espaciado interno */
  background-color: white; /* Fondo blanco */
  color: white; /* Texto negro */
  border-radius: 4px; /* Bordes redondeados */
}

.subtitulo-adjuntos {
  color: white; /* Color blanco para el subtítulo de archivos adjuntos */
  margin-top: 20px; /* Espacio arriba */
  text-align: left;
}

.acciones {
  display: flex; /* Usar flexbox para alinear los botones */
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio arriba de la sección de acciones */
}

.btn {
  background-color: #CC1616; /* Color de fondo del botón */
  color: white; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno del botón */
  cursor: pointer; /* Cambiar cursor a puntero al pasar sobre el botón */
  margin-top: 20px; /* Espacio arriba del botón */
  transition: background-color 0.3s; /* Efecto de transición */
}

.btn:hover {
  background-color: #3498db; /* Color al pasar el mouse */
}

.comentario-container,
.nota-container {
  margin-top: 20px; /* Espacio superior */
}

.comentario-input,
.nota-input {
  width: 100%; /* Ancho completo del input */
  padding: 10px; /* Espacio interno */
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris claro */
}

.nota-input {
  height: 40px; /* Altura fija para el input de la nota */
}
