/* Resetear márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --primary-color: #cc1616 ;
  --secondary-color: #1e2342 ;
  --font-family: 'Arial', sans-serif;
  --font-size-base: 2vw;
}

/* Estilo básico para el body */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: #1e2342 ;
  color: #333;
}

/* Estilos de encabezados */
h1, h2, h3 {
  color: var(--primary-color);
  font-size: 4vw; /* tamaño relativo basado en el ancho de la pantalla */
}

/* Botones */
button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 2vw 5vw; /* unidades relativas */
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

/* Layout de contenedor principal */
.container {
  width: 90%; /* ancho relativo */
  max-width: 1200px;
  margin: 0 auto; /* centrar */
}

/* Estilo de las imágenes */
img {
  width: 100%;
  height: auto;
}
